# -------------------
# DBT Target
# -------------------
export DBT_DEFAULT_TARGET="dev"

# -------------------
# Schema
# -------------------
export DEV_SCHEMA_NAME="dev_yourname"

# -------------------
# Databricks Config
# -------------------
export DEV_DATABRICKS_CATALOG="your_catalog"
export DEV_DATABRICKS_HOST="your-databricks-host.cloud.databricks.com"
export DEV_DATABRICKS_HTTP_PATH="your_http_path"
export DEV_DATABRICKS_TOKEN="your_personal_access_token"